In [12]:
%run C:\Users\Joshua\Jupyter_Notebook_Folders\MacroData\Add_Data_DB.ipynb

In [4]:
seriesID = "CUUR0000SA0"
message, json_data = get_BLS_data(seriesID, 1910, 1929)
message

'For series CUUR0000SA0 no data for years: 1910, 1911, 1912, '

In [13]:
df = create_df_from_json_for_sqlite(json_data, seriesID, "MacroData.sqlite3")

In [14]:
df

Empty DataFrame
Columns: [year, period, periodName, value, date, description]
Index: []

In [6]:
create_table(df, seriesID, 'MacroData.sqlite3')

In [7]:
df_AddDB, df_dup_data, df_inconsistent_data = check_duplicate_data(df, seriesID, 'MacroData.sqlite3')

# Deal with duplicate data
if not df_dup_data.empty:
    print("Duplicate Data: \n", df_dup_data)
else:
    del df_dup_data
    
# Deal with inconsistent data
if not df_inconsistent_data.empty:
    print("DATA FROM DATAFRAME DOES INCONSISTENT WITH DATA IN DATABASE: \n", df_inconsistent_data)
else:
    del df_inconsistent_data

df_AddDB

Duplicate Data:
       year period periodName value     date  \
1032  1919    M01    January  16.5  1919-01
1033  1919    M02   February  16.2  1919-02
1034  1919    M03      March  16.4  1919-03
1035  1919    M04      April  16.7  1919-04
1036  1919    M05        May  16.9  1919-05
...    ...    ...        ...   ...      ...
1159  1929    M08     August  17.3  1929-08
1160  1929    M09  September  17.3  1929-09
1161  1929    M10    October  17.3  1929-10
1162  1929    M11   November  17.3  1929-11
1163  1929    M12   December  17.2  1929-12

                                            description
1032  CPI for All Urban Consumers (CPI-U), All items...
1033  CPI for All Urban Consumers (CPI-U), All items...
1034  CPI for All Urban Consumers (CPI-U), All items...
1035  CPI for All Urban Consumers (CPI-U), All items...
1036  CPI for All Urban Consumers (CPI-U), All items...
...                                                 ...
1159  CPI for All Urban Consumers (CPI-U), All items...
1160  CPI for All Urban Consumers (CPI-U), All items...
1161  CPI for All Urban Consumers (CPI-U), All items...
1162  CPI for All Urban Consumers (CPI-U), All items...
1163  CPI for All Urban Consumers (CPI-U), All items...

[132 rows x 6 columns]

,year,period,periodName,value,date,description
960,1913,M01,January,9.8,1913-01,"CPI for All Urban Consumers (CPI-U), All items..."
961,1913,M02,February,9.8,1913-02,"CPI for All Urban Consumers (CPI-U), All items..."
962,1913,M03,March,9.8,1913-03,"CPI for All Urban Consumers (CPI-U), All items..."
963,1913,M04,April,9.8,1913-04,"CPI for All Urban Consumers (CPI-U), All items..."
964,1913,M05,May,9.7,1913-05,"CPI for All Urban Consumers (CPI-U), All items..."
...,...,...,...,...,...,...
1027,1918,M08,August,15.4,1918-08,"CPI for All Urban Consumers (CPI-U), All items..."
1028,1918,M09,September,15.7,1918-09,"CPI for All Urban Consumers (CPI-U), All items..."
1029,1918,M10,October,16.0,1918-10,"CPI for All Urban Consumers (CPI-U), All items..."
1030,1918,M11,November,16.3,1918-11,"CPI for All Urban Consumers (CPI-U), All items..."
1031,1918,M12,December,16.5,1918-12,"CPI for All Urban Consumers (CPI-U), All items..."

In [8]:
add_to_database(df_AddDB, seriesID, 'MacroData.sqlite3')

Data added to DB:
       year period periodName value     date  \
960   1913    M01    January   9.8  1913-01
961   1913    M02   February   9.8  1913-02
962   1913    M03      March   9.8  1913-03
963   1913    M04      April   9.8  1913-04
964   1913    M05        May   9.7  1913-05
...    ...    ...        ...   ...      ...
1027  1918    M08     August  15.4  1918-08
1028  1918    M09  September  15.7  1918-09
1029  1918    M10    October  16.0  1918-10
1030  1918    M11   November  16.3  1918-11
1031  1918    M12   December  16.5  1918-12

                                            description
960   CPI for All Urban Consumers (CPI-U), All items...
961   CPI for All Urban Consumers (CPI-U), All items...
962   CPI for All Urban Consumers (CPI-U), All items...
963   CPI for All Urban Consumers (CPI-U), All items...
964   CPI for All Urban Consumers (CPI-U), All items...
...                                                 ...
1027  CPI for All Urban Consumers (CPI-U), All items...
1028  CPI for All Urban Consumers (CPI-U), All items...
1029  CPI for All Urban Consumers (CPI-U), All items...
1030  CPI for All Urban Consumers (CPI-U), All items...
1031  CPI for All Urban Consumers (CPI-U), All items...

[72 rows x 6 columns]

In [11]:
df_cpi_not_seasonal = table_to_df(seriesID, 'MacroData.sqlite3')
df_cpi_not_seasonal

,index,year,period,periodName,value,date,description
0,0,1919,M01,January,16.5,1919-01,"CPI for All Urban Consumers (CPI-U), All items..."
1,1,1919,M02,February,16.2,1919-02,"CPI for All Urban Consumers (CPI-U), All items..."
2,2,1919,M03,March,16.4,1919-03,"CPI for All Urban Consumers (CPI-U), All items..."
3,3,1919,M04,April,16.7,1919-04,"CPI for All Urban Consumers (CPI-U), All items..."
4,4,1919,M05,May,16.9,1919-05,"CPI for All Urban Consumers (CPI-U), All items..."
...,...,...,...,...,...,...,...
1027,1027,1918,M08,August,15.4,1918-08,"CPI for All Urban Consumers (CPI-U), All items..."
1028,1028,1918,M09,September,15.7,1918-09,"CPI for All Urban Consumers (CPI-U), All items..."
1029,1029,1918,M10,October,16.0,1918-10,"CPI for All Urban Consumers (CPI-U), All items..."
1030,1030,1918,M11,November,16.3,1918-11,"CPI for All Urban Consumers (CPI-U), All items..."
1031,1031,1918,M12,December,16.5,1918-12,"CPI for All Urban Consumers (CPI-U), All items..."

In [ ]:
#con = db.connect('MacroData.sqlite3')
#c = con.cursor()
#c.execute("DROP TABLE " + seriesID)
#con.commit()
#con.close()